.h1_extend {
    font-size: 25px;
    font-weight: 600;
    @media (max-width: 576px) {
        padding-left: 10px;
    }
}

// sample extending  bs styles
.input_extend {
    font-size: 115%;
    font-weight: 700;
}

.container_extend {
    @media (max-width: 576px) {
        padding-left: 0;
        padding-right: 0
    }
}

.alert_extend {
    background-color: transparent;
}

#colorbox #cboxClose {
    background-color: black;
    border: 0;
    width: 8px;
    height: 1px;
    font-size: 0;
    position: absolute;
    top: 8px;
    right: 8px;
}

#cboxLoadedContent {
    margin-top: 5px;
    margin-bottom: 0;
}

#cboxOverlay {
    border: 0;
}
